.bundle
copy-of-*
db/*.sqlite3
db/*.sqlite3-journal
log/
out/
public/images/gallery/
public/images/old-gallery/
public/index.html
public/pictures/
public/webmas-gallery
rdoc/
tmp/
vendor/plugins/mocha/
vendor/cache
