<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">
<head>
<!-- Sample webmaster HTML file: -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<link rel="stylesheet" type="text/css" href="/webmas-gallery/stylesheets/webmaster/page.css" />
<style type="text/css">
/*
div.all-tags, div.all-tags * {display: inline}
*/
a:link, a:visited {text-decoration: none}
div.tag {display: inline; margin: 1px}
div.picture {display: inline-block; text-align: center; vertical-align: top; margin: 1px}
div.thumbnail > a > img {border: none}
div.description {text-transform: lowercase}
</style>
<title>Portfolio | your_user_name</title>
</head>
<body>
<% alltags %><% gallery %>
</body></html>
